{
    "plugins": [
        "react-hot-loader/babel",
        "preval",
        "styled-components",
        "syntax-dynamic-import",
        "transform-class-properties"
    ],
    "presets": [
        ["env", {
            "modules": false
        }],
        "react"
    ]
}
